# Para evitar que o git envie arquivos desnecessários para o GitHub

# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc

# Arquivos do Jupyter
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db
